#app {
    ul.screencasts {
        li {
          position:relative;
          padding:0.5em;
          border-bottom: 1px solid #ccc;
          a.eye {
            color:black;
            text-decoration: none;
            position: absolute;
            right: 5em;
          }
          a#title {
            font-size: 25px;
            color:red;
          }
          &.watched a#title {
            color:green;
          }
          img {
            height: 30px;
            float:right;
            position: absolute;
            right:10px;
            bottom: 4px;
          }
      }
    }

}

#container {
    label.error {
        display:inline-block;
        color:red;
        margin:0.5em;
    }
}

.alert.alert-error {display:none;}